<div class="projects">
    <h1>Mis proyectos personales</h1>
    <div class="container">
        <app-project *ngFor="let p of projects; let i=index"
        [onMouseEnter]="onMouseEnter"
        [onMouseLeave]="onMouseLeave"
        [project]="p"
        [id]="i">
        </app-project>
    </div>
    <div class="info-project">
        <h2 id="sel-proj-name"></h2>
        <h3 *ngIf="tecnologiasSeleccionadas.length > 0">Tecnologias usadas</h3>
        <ul id="sel-tecnologias">
            <li *ngFor="let t of tecnologiasSeleccionadas">{{t}}</li>
        </ul>
    </div>
    
</div>