<div class="maincard">
  <div class="row">
    <img src="assets/eneko.jpg" alt="Foto de eneko" class="profileImage" />
    <div class="column">
      <h1 class="bold">ENEKO REBOLLO HERNANDEZ</h1>
      <div class="row infoRow">
        <app-info-chip class="light" textToShow="Backend developer"></app-info-chip>
        <app-info-chip class="light" textToShow="Flutter enthusiast"></app-info-chip>
      </div>
    </div>
  </div>

  <div class="pager">
    <div class="row">
      <label [class]="page == 0 ? 'selectedLabel' : ''" (click)="changePage(0)">About me</label>
      <label [class]="page == 1 ? 'selectedLabel' : ''" (click)="changePage(1)">Projects</label>
      <label [class]="page == 2 ? 'selectedLabel' : ''" (click)="changePage(2)">CV</label>
    </div>
  </div>

  <div class="icons">

    <img class="svg" src="assets/icons/github/github.svg"
      (click)="openLinkInNewTab('https://github.com/EnekoRebollo')" />
    <img class="svg" src="assets/icons/linkedin/linkedin.svg" (click)="
        openLinkInNewTab(
          'https://www.linkedin.com/in/eneko-rebollo-hern%C3%A1ndez-411122143/'
        )
      "/>

    <img src="assets/icons/mail/mail.svg" class="svg" (click)="openLinkInNewTab('mailto:enekorebollo@gmail.com')"/>
  </div>
</div>