<div class="maincard glass-effect" data-aos="fade-down">
  <div class="namePhoto" data-aos="fade-right" data-aos-delay="200">
    <div class="image-container">
      <img src="assets/eneko.jpeg" alt="Foto de eneko" class="profileImage hover-effect" />
    </div>
    <h1 class="bold">
      <span class="typewriter" [innerHTML]="displayText"></span>
      <span class="cursor">|</span>
    </h1>
  </div>

  
  <div class="infoRow" data-aos="fade-up" data-aos-delay="600">
    <app-info-chip class="light hover-effect" textToShow="Backend developer"></app-info-chip>
    <app-info-chip class="light hover-effect" textToShow="Flutter enthusiast"></app-info-chip>
  </div>

  <nav class="nav-container">
    <ul class="nav-list">
      <li>
        <button 
          class="nav-link" 
          [class.active]="(pageService.currentPage$ | async) === 0" 
          (click)="navigate(0)">
          About me
        </button>
      </li>
      <li>
        <button 
          class="nav-link" 
          [class.active]="(pageService.currentPage$ | async) === 1" 
          (click)="navigate(1)">
          Projects
        </button>
      </li>
      <li>
        <button 
          class="nav-link" 
          [class.active]="(pageService.currentPage$ | async) === 2" 
          (click)="navigate(2)">
          CV
        </button>
      </li>
    </ul>
  </nav>
  <div class="social-links" data-aos="fade-up" data-aos-delay="800">
    <app-tooltip text="Ver mi GitHub" position="top">
      <button class="icon-button" (click)="openLink('https://github.com/enekor')">
        <img alt="Github" class="svg" src="assets/icons/github/github.svg" />
      </button>
    </app-tooltip>
    <app-tooltip text="Conectar en LinkedIn" position="top">
      <button class="icon-button" (click)="openLink('https://www.linkedin.com/in/eneko-rebollo-hern%C3%A1ndez-411122143/')">
        <img alt="LinkedIn" class="svg" src="assets/icons/linkedin/linkedin.svg" />
      </button>
    </app-tooltip>
    <app-tooltip text="Enviar email" position="top">
      <button class="icon-button" (click)="openLink('mailto:enekorebollo@gmail.com')">
        <img alt="Email" class="svg" src="assets/icons/mail/mail.svg" />
      </button>
    </app-tooltip>
  </div>
</div>