.maincard {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 34px;
  margin: 20px;
  transition: all 0.3s;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.maincard h1 {
  color: var(--accent-color);
}

.maincard img {
  border-radius: 50%;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  object-fit: cover;
  margin-right: 10px; /* Adjust the margin as needed */
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.maincard .pager .row {
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--secondary-color);
  border-radius: 9px 9px 24px 9px;
  padding: 20px;
}
.maincard .pager .row label {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  padding-inline: 10px;
  transition: color 0.3s;
}

.maincard .pager .row label:hover {
  cursor: pointer;
  color: violet;
}

.maincard .pager .row label.selectedLabel{
  color: darkviolet;
}

.maincard .pager {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  margin: 20px;
}

.maincard {
  position: relative;
}

.maincard .icons{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.svg:hover{
  filter: brightness(0) saturate(100%) invert(19%) sepia(72%) saturate(3922%) hue-rotate(353deg) brightness(90%) contrast(97%);
  
}
