<div class="project">
    <img src="{{projectImage}}" alt="{{projectName}}" class="pImage">
    <div class="projectInfo">
        <p class="projectName">{{projectName}}</p>
        <p class="projectInfoText">{{projectInfo}}</p>
        <div class="icons">
            <img (click)="openInBrowser(projectLink)" src="assets/icons/github/github.svg" class="svg" />
            <img (click)="openInBrowser(projectWebLink)" src="assets/icons/open-in-browser/open-in-browser.svg" alt="open in browser" class="svg" />
        </div>
    </div>
</div>
