.project{
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.project img {
    width: 100%;
    height: auto;
    display: block;
}

.project img.svg{
    height: 30px;
    width: 30px;
}
.project img.svg:hover{
    filter: brightness(0) saturate(100%) invert(41%) sepia(54%) saturate(3106%) hue-rotate(236deg) brightness(103%) contrast(101%);
    cursor: pointer;
}

.project .projectInfo{
    background-color: var(--secondary-color-with-alpha);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease-in-out;
    transform: translate(-25%, -25%);
    filter: blur(50px);
}

.project:hover .projectInfo{
    opacity: 1;
    transform: translate(-50%, -50%);
    filter: blur(0px);
}

.project .icons{
    display:flex;
}
.project .icons .svg{

    margin-inline: 15px;
}

