.skillRow{
    display: flex;
    justify-content: space-around;
}

.skillRow .svg{
    margin-right: 30px;
    margin-top: 4px;
    filter: brightness(0) saturate(100%) invert(100%) !important;
    width: 40px !important;
    height: 40px !important;
    transition: all 0.3s ease;
}

.skillRow .svg:hover {
    filter: brightness(0) saturate(100%) invert(47%) sepia(76%) saturate(2806%) hue-rotate(238deg) brightness(100%) contrast(101%) !important;
    transform: scale(1.1);
    cursor: pointer;
}

.aboutMeText{
    margin:30px;
    background-color: var(--secondary-color);
    border-radius: 41px;
    padding: 20px;
}

@media (max-width: 768px) {
    .skillRow {
        display: flex;
        overflow-x: auto;
        padding: 10px;
        align-items: center; /* Añade padding para mejor visualización */
    }

    .spacer{
        width: 200px;
        margin-inline: 10px;
    }    .skillRow .svg {
        margin-right: 10px;
        margin-top: 4px;
        filter: brightness(0) saturate(100%) invert(100%) !important;
        width: 32px !important;
        height: 32px !important;
    }

    .skillRow .svg:hover {
        filter: brightness(0) saturate(100%) invert(47%) sepia(76%) saturate(2806%) hue-rotate(238deg) brightness(100%) contrast(101%) !important;
        transform: scale(1.1);
        cursor: pointer;
    }

    .aboutMeText {
        margin: 10px; /* Reduce el margen para pantallas pequeñas */
        background-color: var(--secondary-color);
        border-radius: 41px;
        padding: 20px;
    }
}