<!-- https://www.svgrepo.com/svg/527432/server-minimalistic?edit=true -->
<div class="skillRow">
    <app-skill-card skillInfo="Flutter, Kotlin, Java" skillName="Mobile">
        <img src="assets/icons/mobile/mobile.svg" alt="Mobile" class="svg" />
    </app-skill-card>
    <div class="spacer"></div>
    <app-skill-card skillInfo=".Net C#, Java, Python" skillName="Backend">
        <img src="assets/icons/backend/backend.svg" alt="Backend" class="svg" />
    </app-skill-card>
    <div class="spacer"></div>
    <app-skill-card skillInfo="Angular, HTML/CSS/JS, Blazor" skillName="Web">
        <img src="assets/icons/web/web.svg" alt="Web" class="svg" />
    </app-skill-card>
</div>

<div class="aboutMeText">
    <p>
        Soy técnico superior en creación de aplicaciones multiplataforma con una sólida base y una profunda pasión por el desarrollo de software. Mi recorrido comenzó con mis prácticas en Originpath en 2022, donde tuve la oportunidad de sumergirme en el mundo del desarrollo profesional. Actualmente, desde 2023, formo parte del equipo en Airtificial, lo que me ha permitido consolidar y ampliar mis conocimientos en diversos ámbitos.
        <br><br>
        Tengo experiencia práctica tanto en la construcción de robustas API REST utilizando tecnologías como C# y Java para la gestión y tratamiento de datos provenientes de bases de datos relacionales y no relacionales (como MongoDB), como en la implementación de interfaces de usuario atractivas y funcionales en el frontend.
        <br><br>
        Si bien disfruto explorando todas las facetas del desarrollo, mi verdadera pasión se inclina hacia el <b>desarrollo móvil con Flutter</b>. Me fascina la capacidad de crear aplicaciones multiplataforma de alto rendimiento con una única base de código. Además de Flutter y Angular para el frontend, y C#, .NET y Java para el backend, cuento con conocimiento de Python y siempre estoy ansioso por aprender nuevas tecnologías, frameworks y lenguajes que me permitan expandir mis habilidades y afrontar nuevos retos.
        <br><br>
        Me considero una persona proactiva y con una gran capacidad de adaptación, siempre buscando soluciones eficientes e innovadoras. Mi objetivo principal es especializarme aún más en el ámbito del desarrollo móvil y seguir creciendo profesionalmente en este apasionante campo.
        <br><br>
        Estoy convencido de que el aprendizaje constante es clave en esta profesión, y disfruto enormemente del proceso de adquirir nuevos conocimientos, tanto de forma autodidacta como a través de la experiencia en proyectos reales.
        <br><br>
        Este portafolio es una muestra de mi trabajo y de mi evolución como desarrollador. ¡Espero que lo encuentres interesante!
    </p>


</div>