
.skillRow{
    display: flex;
    justify-content: space-around;
}

.skillRow .svg{
    margin-right: 30px;
    margin-top: 4px;
}

.aboutMeText{
    margin:30px;
    background-color: var(--secondary-color);
    border-radius: 41px;
    padding: 20px;
}

@media (max-width: 768px) {
    .skillRow {
        display: flex;
        overflow-x: auto;
        padding: 10px;
        align-items: center; /* Añade padding para mejor visualización */
    }

    .spacer{
        width: 200px;
        margin-inline: 10px;
    }

    .skillRow .svg {
        margin-right: 10px; /* Ajusta el margen para pantallas pequeñas */
        margin-top: 4px;
    }

    .aboutMeText {
        margin: 10px; /* Reduce el margen para pantallas pequeñas */
        background-color: var(--secondary-color);
        border-radius: 41px;
        padding: 20px;
    }
}