<!-- https://www.svgrepo.com/svg/527432/server-minimalistic?edit=true -->
<div class="skillRow">
    <app-skill-card skillInfo="Flutter, Kotlin" skillName="Mobile">
        <img src="assets/icons/mobile/mobile.svg" alt="Mobile" class="svg" />
    </app-skill-card>
    <div class="spacer"></div>
    <app-skill-card skillInfo=".Net C#, Java, Python" skillName="Backend">
        <img src="assets/icons/backend/backend.svg" alt="Backend" class="svg" />
    </app-skill-card>
    <div class="spacer"></div>
    <app-skill-card skillInfo="Angular, HTML/CSS/JS, Blazor" skillName="Web">
        <img src="assets/icons/web/web.svg" alt="Web" class="svg" />
    </app-skill-card>
</div>

<div class="aboutMeText">
    <p>Soy técnico superior en creación de aplicaciones multiplataforma con una gran pasión por la programación Android.
        <br><br>

        Tengo experiencia tanto en la creación de API REST para la obtención de datos de bases de datos y su posterior
        tratamiento, como en la utilización de estos datos en entornos frontend. <br><br>

        Mis tecnologías más utilizadas y con las que me siento más cómodo actualmente son C# y .NET para backend,
        Flutter para frontend y bases de datos relacionales. <br><br>

        Me encanta enfrentarme a nuevos desafíos y mejorar constantemente mis habilidades para ofrecer soluciones
        innovadoras y eficientes. <br><br></p>
</div>