
.skillRow{
    display: flex;
    justify-content: space-around;
}

.skillRow .svg{
    margin-right: 30px;
    margin-top: 4px;
}

.aboutMeText{
    margin:30px;
    background-color: var(--secondary-color);
    border-radius: 41px;
    padding: 20px;
}