.card{
  margin-inline: 25px;
  border-radius: 15px;
  overflow: hidden;
  height: 300px;
  max-height: 300px;
  max-width: 30vw;
  width:100px;
  transition: width 1s;
  position: relative;
}
.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card.hidden{
  display: flex;
  flex-direction: column;
}
.card.open{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.open.card-content{
  display:block;
}

.card-content{
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 20px;
  position: absolute;
  top: 84%;
  width: 100%;
  max-width: 30vw;
  transition: top 0.5s;
}

.card-content.open{
  top:70%;
}