<div class="card" (click)="onClick()">
  <img src="{{project.Imagen}}" alt="Icono de {{project.Nombre}}" class >
  <div class="card__content">
    <p class="card__title">{{project.Nombre}}</p>
    <div class="card__description">
      <b class="lato-bold">{{project.Info}}</b>
      <br>
      <p class="lato-regular">Tecnologias utilizadas:</p>
      <ul>
        <li class="lato-regular" *ngFor="let skill of project.Tecnologias">{{skill}}</li>
      </ul>
      <div class="url-buttons" *ngIf="project.Nombre == 'Gastoscopio'">
        <button (click)="onButtonClick(1)" class="button">Github</button>
        <button (click)="onButtonClick(2)" class="button">Web</button>
      </div>
    </div>
  </div>
</div>
