<div class="cvBody">
    <div class="title">
        <h3>Curriculum Eneko Rebollo</h3>
        <img class="svg" src="assets/icons/download/download.svg" alt="Download" (click)="downloadCv()"/>
        <img class="svg" src="assets/icons/open-in-browser/open-in-browser.svg" alt="Open" (click)="openCv()"/>
    </div>

    <div class="cvView">
        <pdf-viewer [src]="'assets/files/cv.pdf'"
        [fit-to-page]="true" [original-size]="false"
            [render-text]="true" style="height: 80vh;"></pdf-viewer>
    </div>
</div>
