<div class="container">
  <div class="header">
    <span class="decoracion"><</span>
    <h1>Eneko Rebollo Hernandez</h1>
    <span class="decoracion-end"><p class="comment">/*Backend developer*/</p>></span>
  </div>
  <div class="body">
    <div class="button-container">
      <div class="img-button-container">
        <img class="imagen-oculta" src="/assets/gato.png"/>
        <div class="button" (click)="goToAboutMe()">
          <p>Sobre mi</p>
        </div>
      </div>
      <div class="img-button-container">
        <img class="imagen-oculta" src="/assets/gato.png"/>
        <div class="button" (click)="goToAboutMe()">
            <p>Proyectos</p>
        </div>
    </div>
  </div>
</div>
