<img src="assets/bg.webp" class="background">
<div class="container main">
  <div class="header">
    <h1 class="bebas-neue">Eneko Rebollo Hernandez</h1>
    <p class="comment">/*Backend developer*/</p>
    <app-arrow-down></app-arrow-down>
  </div>
  <div class="body">
    <div class="button-container">
      <div class="img-button-container">
        <img class="imagen-oculta" src="/assets/gato.png" alt="gato"/>
        <div class="button" (click)="goToAboutMe()">
          <p >Sobre mi</p>
        </div>
      </div>
      <div class="img-button-container">
        <img class="imagen-oculta" src="/assets/gato.png" alt="gato"/>
        <div class="button" (click)="goToMyProjects()">
            <p>Proyectos</p>
        </div>
    </div>
  </div>
</div>
