<div class="column projectList">
    <app-project-card projectImage="https://github.com/enekor/Gastoscopio/blob/main/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png?raw=true" projectInfo="Aplicación de gestión de gastos" projectName="Gastoscopio" projectLink="https://github.com/enekor/gastoscopio" projectWebLink="" ></app-project-card>
    <app-project-card projectImage="https://github.com/enekor/AiKitchen/blob/main/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png?raw=true" projectInfo="Aplicación de creación de recetas" projectName="AiKitchen" projectLink="https://github.com/enekor/aikitchen" projectWebLink="https://enekor.github.io/AiKitchen" ></app-project-card>
</div>
