<div class="titulo">
    <div class="info">
        <h2 class="lato-regular-bold">Eneko Rebollo Hernández</h2>
        <p>informacion sobre mi</p>
    </div>
    <div class="cv">
        <p class="descargar lato-italic">Descarga mi CV</p>
    </div>
</div>
<div class="grid">
    <div class="flex">
        <fa-icon [icon]="faEmail"></fa-icon>
        <p class="lato-regular-italic">enekorebollo&#64;gmail.com</p>
    </div>
    
    <div class="flex">
        <fa-icon [icon]="faPhone"></fa-icon>
        <p class="lato-regular-italic">+64 639914542</p>
    </div>
</div>

<div class="top">
    <div class="top-info">
        <div class="grid experiencia">
            <div class="flex">
                <fa-icon size="2x" [icon]="faWork"></fa-icon>
                <h2>Experiencia</h2>
            </div>
            <div class="experiencias">
                <div *ngFor="let item of experiencias" class="card">
                    <div class = image>
                      <img href = "#" src ={{item.Foto}} alt={{item.Nombre}}>
                    </div>
                    <div class = content>
                      <h3>{{item.Nombre}}</h3>
                      <ul>
                        <li *ngFor="let exp of item.Skills">{{exp}}</li>
                      </ul>
                    </div>
                  </div>    
            </div>
        </div>
    </div>
    <div class="my-projects">
        <div *ngFor="let project of projects" class="project-card">
            <img load="lazy"   src="{{project.Imagen}}" alt="{{project.Nombre}}">
            <h3>{{project.Nombre}}</h3>
            <p>{{project.Info}}</p>
            <p>Tecnologias usadas: </p>
            <ul>
                <li *ngfor="let tech of project.Tecnologias">{{tech}}></li>
            </ul>
        </div>
    </div>
</div>

<div class="bottom">
    <div class="card bottom-card titulacion">
        <div class="flex">
            <fa-icon size="2x" [icon]="faTitulitis"></fa-icon>
            <h2>Titulaciones</h2>
        </div>
        <div class="titulaciones">
            <ul>
                <li *ngFor="let titulo of titulos" class="titulacion-texto">
                    <p><fa-icon [icon]=faLink></fa-icon> {{titulo.Nombre}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="card bottom-card tecnologias">
        <div class="flex">
            <fa-icon size="2x" [icon]="faBrain"></fa-icon>
            <h2>Tecnologias</h2>
        </div>
        <div class="banners">
            <img loading="lazy" *ngFor="let tech of lenguajes" src="https://img.shields.io/badge/{{tech}}.svg?style=plastic&logo={{tech}}&logoColor=white" alt={{tech}}/>
        </div>
    </div>
</div>