<div class="row">
    <div class="card-info">
        <img class="circular-square" [src]="info.UrlProfilePicture" alt="Profile Picture">
        <p class="lato-bold">{{info.Name}}</p>
        <p class="lato-bold">Backend-developer</p>
        <div class="center">
            <button (click)="onCv()" type="button" class="button-cv">Descargar Cv</button>
        </div>
        <hr>
        <div class="info">
            <div class="row">
                <img class="icon" src="assets/svg/email.svg" alt="name">
                <p class="lato.regular">{{info.Email}}</p>
            </div>
            <div class="row">
                <img class="icon" src="assets/svg/phone.svg" alt="phone number">
                <p class="lato-regular">{{info.Phone}}</p>
            </div>
        </div>
        <hr>
        <div class="social">
            <a [href]="info.UrlGithub" target="_blank"><img class="icon" src="assets/svg/github.svg" alt="github"></a>
            <a [href]="info.UrlLinkedin" target="_blank"><img class="icon" src="assets/svg/linkedin.svg" alt="linkedin"></a>
        </div>
    </div>
    <div class="card-center">
        <div class="card titulitis div1">
            <ul>
                <li class="sel-titulo" *ngFor="let titulo of this.titulos" (click)="selectTitulo(titulo)">{{titulo.Nombre}}</li>
            </ul>
        </div>
        <div class="card documentos div2">
            <ng-container *ngIf="this.tituloSel!=undefined; else elseTemplate">
                <div class="show-title">
                    <img [src]="tituloSel.Image" alt="Imagen de {{tituloSel.Nombre}}" class="img-title stDiv1"/>
<br>
                    <span class="lato-regular stDiv2">{{tituloSel.Nombre}}</span>
<br>
                    <button class="button-cv stDiv3" type="button" (click)="onTitulo()" >Ver certificado</button>

                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <span class="lato-regular">Seleccione un titulo a mostrar</span>
            </ng-template>
            
        </div>
        <div class="card experiencia div3"></div>
        <div class="card lenguajes div4"></div>
    </div>
</div>