<div class="row">
    <div class="card-info">
        <!-- <img class="circular-square" [src]="info.UrlProfilePicture" alt="Profile Picture"> -->
        <img class="circular-square" [src]="" alt="Profile Picture">
        <p class="lato-bold">{{info.Name}}</p>
        <p class="lato-bold">Backend-developer</p>
        <div class="center">
            <button (click)="onCv()" type="button" class="button-cv">Descargar Cv</button>
        </div>
        <hr>
        <div class="info">
            <div class="row">
                <img class="icon" src="assets/svg/email.svg" alt="name">
                <p class="lato.regular">{{info.Email}}</p>
            </div>
            <div class="row">
                <img class="icon" src="assets/svg/phone.svg" alt="phone number">
                <p class="lato-regular">{{info.Phone}}</p>
            </div>
        </div>
        <hr>
        <div class="social">
            <a [href]="info.UrlGithub" target="_blank"><img class="icon" src="assets/svg/github.svg" alt="github"></a>
            <a [href]="info.UrlLinkedin" target="_blank"><img class="icon" src="assets/svg/linkedin.svg" alt="linkedin"></a>
        </div>
    </div>
    <div class="card-center">
        <div class="card titulitis div1">

                <span class="sel-titulo" *ngFor="let titulo of this.titulos" (click)="selectTitulo(titulo)">{{titulo.Nombre}}<br/></span>

        </div>
        <div class="card documentos div2">
            <ng-container *ngIf="this.tituloSel!=undefined; else elseTemplate">
                <div class="show-title">
                    <img [src]="tituloSel.Image" alt="Imagen de {{tituloSel.Nombre}}" class="img-title stDiv1"/>
<br>
                    <span class="lato-regular stDiv2">{{tituloSel.Nombre}}</span>
<br>
                    <button class="button-cv stDiv3" type="button" (click)="onTitulo()" >Ver certificado</button>

                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <span class="lato-regular">Seleccione un titulo a mostrar</span>
            </ng-template>
            
        </div>
        <div class="card experiencia div3">
            <ng-container *ngIf="expSel == undefined; else elseTemplate2">
                <span class="sel-titulo" *ngFor="let exp of this.experiencias" (click)="selectExp(exp)">{{exp.Nombre}}</span>
            </ng-container>
            <ng-template #elseTemplate2>
                <img [src]="expSel?.Foto" alt="Imagen de {{expSel?.Nombre}}" class="img-title circular-square"/>
                <span class="lato-regular">{{expSel?.ExtraInfo}}</span>
                <span><b>Lenguajes y tecnologías utilizadas</b></span>
                <div class="exp-icons">
                    <img class="icon" src="assets/svg/{{lang}}.svg" alt="{{lang}}" *ngFor="let lang of expSel?.Skills" title="{{lang}}"> 
                </div>
                <a class="sel-titulo" (click)="selectExp(undefined)">Atras</a>
            </ng-template>
            
        </div>
        <div class="card lenguajes div4">
                <div class="carousel">
                    <img class="icon-languaje" *ngFor="let tec of lenguajes" src="assets/svg/{{tec}}.svg" alt="{{tec}}" title="{{tec}}">
                </div>

        </div>
    </div>
</div>